@media (max-height:844px) {
    .intro-container{
        height: 90vh;
    }
}

@media (max-height:678px) {
    .individual-images-container{
        display: none; 
    }
}

@media (min-width:768px) {
    .individual-images-container{
        display: none; 
    }
}

@media (max-width:512px) {
    .card-images{
        width: 13rem;
        height: 8rem;
    }
}