@media (max-height:844px) {
    .intro-container{
        height: 90vh;
    }
}

@media (max-height:714px) {
    .individual-images-container{
        display: none; 
    }
}

@media (min-width:768px) {
    .individual-images-container{
        display: none; 
    }
}